/*Estilos Home*/
.funkoPop img {
  width: 300px;
  height: auto;
  margin: 10px;
}

.card {
  border: 1px solid #b5afaf;
  width: 320px;
  text-align: center;
  margin: 20px;
}

.card h4 {
  color: #0d77e6;
  font-size: 30px;
  font-weight: bold;
}

.card h4:hover {
  color: #ec02aa;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.card p {
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.card p:hover {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

li {
	list-style: none;
}

body {
  font-family: 'Open Sans';
}

.mega-dropdown {
  position: static !important;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}

.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.carousel-control {
  width: 15px;
  height: 15px;
  top: -35px;
  margin: 1%;
  padding: 1%;
}

.left.carousel-control {
  right: 40px;
  left: inherit;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}

a {
  text-decoration: none;
  color: #000;
}

.sidebar-titles {
  font-size: 15px;
  font-weight: bold;
}

a:hover {
  color: #8A8787;
  text-decoration: none;
}

.a-menu:hover {
  color: #8A8787;
}

.emailus {
  font-size: 15px;
  font-weight: bold;
}

.apps {
  cursor: pointer;
}

.footer-icons {
  display: inline-flex;
  font-size: 30px;
}

.fa-twitter-square,
.fa-facebook,
.fa-pinterest-square,
.fa-instagram {
  margin: 4px;
}

.fa-twitter-square:hover,
.fa-facebook:hover,
.fa-pinterest-square:hover,
.fa-instagram:hover {
  color: #8A8787;
  cursor: pointer;
}

.off {
  font-size: 15px;
  font-weight: bold;
}

.off2 {
  font-size: 12px;
}

.btn-primary {
  background: #000;
  color: #fff;
  width: 120px;
  height: 45px;
  font-size: 15px;
}

.btn-primary:hover {
  background: #8A8787;
  color: #000;
}

.mailinput {
  height: 42px;
  width: 230px;
}


.departments {
  margin-top: 5%;
}

.navbar-inverse {
  color: #fff;
  font-weight: bold;
}

#search,
#about {
  margin-top: 5%;
  background-color: 
}

#PPMiniCart .minicart-details-price {
  margin-left: -7px;
}

#PPMiniCart {
 z-index: 9999;

}

