<div class="row about">
  <div class="container">
    <div class="col-sm-12 text-center">
      <h1>¿Qué es Funko?</h1>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="container">
            <p class="panel-title">En primer lugar, y algo que la gente no entiende bien aún es: Las figuras no se llaman Funko, Funko es la empresa que se encarga de su fabricación. La figurilla en si se llama Pop! pero como es posible confundir este nombre, casi siempre, se les suele poner la coletilla de “Funko” y así es posible distinguirlo fácilmente.</p>

            <p>Bueno, pues entrando en materia, comentar que son un tipo de muñeco, generalmente fabricado en vinilo, o como muchos lo llaman, vinyl, que cuenta con una cabeza enorme en comparación con el cuerpo y esto es lo que les hace tan graciosos, eso y sus ojos. Seguramente ya hayas visto alguno y no lo has identificado como muñeco Funko Pop!, es normal, por eso estás aquí.</p>

            <p>Hay una cantidad impresionante de diferentes figuras de este tipo. Las puedes encontrar de super héroes de Dc Cómics como Batman o Superman, de Marvel como Spiderman o Iron Man y hasta ídolos de muchos dentro de la música. Ídolos como pueden ser Axl Rose o Slash de los Guns And Roses. Pero sin lugar a dudas, uno de la línea que más fuerza a tenido dentro de este tipo de muñecos es Disney. Sí, si, Disney y sus adorables princesas.</p>

            <p>Cada muñeco cuenta con una construcción única que consigue, a veces a gran detalle, identificar de un solo vistazo a que tipo de personaje apunta el muñeco.</p>
        </div>
      </div>
    </div>
  </div>
</div>




