
<div>Aqui va la vista home</div>
<h1>monitos aqui</h1>

<!-- Productos -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-12" id="info">
      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
    </div>
  </div>
</div>
<div class="container" id="personajes">
  <div class="row">
    <div>
        <img src="images/will.jpg" id="MLC454337897" alt="">
    </div>
    </div>
</div>

<!-- Fin Productos -->
